h1{
	color: red;

}
th,table{
	color: red;
}
body{
	background:url(https://tse2.mm.bing.net/th?id=OIP.hDzC8XIu7utWDrRNylkU5wHaEZ&pid=Api&P=0&w=276&h=165);
	 background-repeat: no-repeat;
	  background-size: cover;
}