<!DOCTYPE html>
<html>
<head>
	<title>Display</title>
	<style type="text/css">
		#change{
			color: red;
			font-family: ariel;
			font-size: 50px;
		}
		#change1{
			color: blue;
			font-family: ariel;
			font-size: 50px;
		}
		#change2{
			color:black;
			font-family: ariel;
			font-size: 50px;
		}
		#change3{
			color: green;
			font-family: ariel;
			font-size: 50px;
		}
	</style>
</head>
<body>
	<marquee direction="up" id="change"> Server Time Is: {{insert_time}}</marquee>
	<marquee direction="up" id="change1"> Name is: {{Name}}</marquee>
	<marquee direction="up" id="change2"> Age is: {{Age}}</marquee>
	<marquee direction="up" id="change3"> Email id is: {{Email}}</marquee>
</body>
</html>